:root {
  --white: #eee;
  --grey: #aaa;
  --black: #111;
  --accent: #811;
  --accent-light: #c11;
  --background: rgba(220, 220, 220, 0.7);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  margin: 0 auto;
  max-width: 1000px;
  height: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: var(--black);
  font-size: 1.6rem;
}

a {
  color: var(--black);
  text-decoration: underline var(--accent);
  transition: text-decoration-color 125ms;
}
a:hover {
  color: var(--accent);
}

.page {
  margin: 0 auto;
  width: 80%;
  min-height: 95%;
  padding-bottom: 5%;
  background: var(--background);
  box-shadow: 0px 0px 5em 2em rgba(220, 220, 220, 1);
}

.header {
  padding: 4rem;
  width: 100%;
  text-align: center;
}
.header h1 {
  font-size: 3.2rem;
}
.header span {
  font-size: 1.6rem;
  font-style: italic;
}

.headerUnderline {
  margin: 0 auto;
  width: 50%;
  height: 2px;
  border-radius: 5em;
  background: radial-gradient(var(--accent), transparent);
  margin-bottom: 5px;
}

nav {
  text-align: center;
}
nav a {
  font-size: 1.8rem;
  margin: 0 2rem;
  text-decoration-thickness: 2px;
}

.content {
  margin: 0 auto;
  width: 75%;
  margin-top: 5%;
  padding-left: 5%;
  border-left: 2px dashed var(--grey);
}

.content h2 {
  text-decoration: underline var(--accent);
}

.content h3 {
  text-align: center;
  text-decoration: underline var(--black);
}

.hidden {
  display: none;
}

.selected {
  text-decoration-color: var(--accent);
}

::selection {
  color: var(--accent);
  background-color: transparent;
}

/*
    Custom shiny scrollbar :)
    borrowed from SO 
*/

::-webkit-scrollbar {
  width: 12px; /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

@media (max-width: 500px) {
  .page,
  #footer {
    width: 100%;
  }
}
