* {
    margin: 0 auto;
    padding: 0;
}

html, body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #111;
    height: 100%;
    overflow-y: hidden;
}

body {
    overflow-y: scroll;
}

#page {
    width: 80%;
    max-width: 1000px;
    min-height:90%;
    background: #EEEEEE;
}

#title {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    text-align: center;
}

#titleUnderline {
    width: 50%;
    height: 2px;
    background: radial-gradient(darkred, #EEE);
    margin-bottom: 5px;
}

nav {
    text-align: center;
    width: 75%;
}

nav table {
    width: 100%;
    border-spacing: 10px;
}

nav table tr {
    height: 100%;
}

nav table td {
    padding: 5% 0%;
    text-decoration: bold;
    height: 100%;
    width: 33%;
    cursor: pointer;
    background: #BBBBBB;
}

nav table td:hover, nav table td:active, nav table td:focus {
    background: #AAAAAA;
    text-decoration: underline darkred;
}

#content {
    margin-top: 5%;
    width: 75%;
    padding-left: 5%;
    border-left: 2px dashed #AAA;
}

#content h2 {
    text-decoration: underline darkred;
}

#content h3 {
    text-decoration: underline #111;
    padding-bottom: 2%;
}

#content a {
    color: #111;    
    text-decoration: underline darkred;
}

#content p {
    padding-bottom: 5%;
}

#home {
}

#about {
}

#projects {
}

#footer {
    width: 80%;
    max-width: 1000px;    
    height: 10%;
    background: linear-gradient(#EEEEEE, #FFFFFF, #FFF);
}

.hidden {
    display: none;
}

.selected{
    background: #AAAAAA;
    text-decoration: underline darkred;
}

/*
    Custom shiny scrollbar :)
    borrowed from SO 
*/

::-webkit-scrollbar
{
    width: 12px;  /* for vertical scrollbars */
    height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
    background: rgba(0, 0, 0, 0.5);
}