* {
    margin: 0 auto;
    padding: 0;
}

html, body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100%;
}

body {
    overflow-y: scroll;
}

#page {
    width: 80%;
    background: #DDDDDD;
}

#title {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    text-align: center;
}

#title h1 {
    text-decoration: underline darkred;
    padding-bottom: 2%;
}

nav {
    text-align: center;
    width: 75%;
    height: 5%;
}

nav table {
    width: 100%;
    height: 100%;
}

nav table tr {
    height: 100%;
}

nav table td {
    text-decoration: bold;
    height: 100%;
    width: 33%;
    cursor: pointer;
    background: #BBBBBB;
}

nav table td:hover, nav table td:active, nav table td:focus {
    background: #AAAAAA;
    text-decoration: underline darkred;
}

#content {
    padding: 5%;
    width: 75%;
}

#content h2 {
    text-decoration: underline darkred;
}

.hidden {
    display: none;
}

.selected{
    background: #AAAAAA;
    text-decoration: underline darkred;
}

#home {
}

#about {
}

#projects {
}

#footer {
    bottom: 0px;
    width: 80%;
    height: 10%;
    /*background: #EEEEEE;*/
    background: linear-gradient(#DDDDDD, #FFFFFF, #FFF);
}

::-webkit-scrollbar
{
    width: 12px;  /* for vertical scrollbars */
    height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
    background: rgba(0, 0, 0, 0.5);
}